<div class="container vh-100 d-flex justify-content-end align-items-center">
    <!-- Card que contém o formulário -->
    <div class="card shadow-lg p-4 w-100" style="max-width: 400px;">
      <h3 class="text-center mb-4">{{ isLoginMode ? 'Login' : 'Cadastro Inicial' }}</h3>
      <form #userForm="ngForm" novalidate (ngSubmit)="onSubmit(userForm)">
        <!-- Nome Completo (visível apenas no modo Cadastro) -->
        <div *ngIf="!isLoginMode || primeiroAcesso" class="mb-3">
          <label for="fullName" class="form-label">Nome Completo</label>
          <input
            type="text"
            id="fullName"
            name="fullName"
            [(ngModel)]="form.name"
            class="form-control"
            required
            [ngClass]="{'is-invalid': userForm.submitted && userForm.controls['fullName'].invalid}" />
          <div class="invalid-feedback" *ngIf="userForm.submitted && userForm.controls['fullName']?.invalid">
            Nome completo é obrigatório.
          </div>
        </div>
    
        <!-- E-mail -->
        <div *ngIf="!primeiroAcesso" class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="form.email"
            class="form-control"
            required
            validateEmail
            [ngClass]="{'is-invalid': userForm.submitted && userForm.controls['email'].invalid}" />
            <div class="invalid-feedback" *ngIf="userForm.submitted && userForm.controls['email']?.invalid">
              <span *ngIf="userForm.controls['email']?.errors?.['required']">E-mail é obrigatório.</span>
              <span *ngIf="userForm.controls['email']?.errors?.['invalidEmail']">Digite um e-mail válido.</span>
            </div>
        </div>
    
        <!-- Senha -->
        <div *ngIf="!primeiroAcesso" class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="form.password"
            class="form-control"
            [validateEqual]="'confirmPassword'"
            required
            minlength="5"
            [ngClass]="{'is-invalid': userForm.submitted && userForm.controls['password'].hasError('passwordMismatch')}" />
          <div class="invalid-feedback" *ngIf="userForm.submitted && userForm.controls['password']?.hasError('passwordMismatch')">
            <span *ngIf="userForm.controls['password']?.errors?.['required']">Senha é obrigatória.</span>
            <span *ngIf="userForm.controls['password']?.errors?.['minlength']">Senha deve ter pelo menos 5 caracteres.</span>
            <span *ngIf="userForm.controls['password']?.hasError('passwordMismatch')">as senhas não conferem.</span>
          </div>
        </div>

        <!-- Confirma Senha -->
        <div *ngIf="!isLoginMode" class="mb-3">
          <label for="confirmPassword" class="form-label">Confirma Senha</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            [(ngModel)]="form.confirmPassword"
            class="form-control"
            [validateEqual]="'password'"
            required
            [ngClass]="{'is-invalid': userForm.submitted && userForm.controls['confirmPassword'].hasError('passwordMismatch')}" />
          <div class="invalid-feedback" *ngIf="userForm.submitted && userForm.controls['confirmPassword']?.hasError('passwordMismatch')">
            As senhas não conferem! Confirmação da senha é obrigatória.
          </div>
        </div>
    
        <!-- Nova Senha -->
        <div *ngIf="primeiroAcesso" class="mb-3">
          <label for="password" class="form-label">Nova Senha</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="form.newPassword"
            class="form-control"
            required
            minlength="5"
            [ngClass]="{'is-invalid': userForm.submitted && userForm.controls['password'].invalid}" />
          <div class="invalid-feedback" *ngIf="userForm.submitted && userForm.controls['password']?.invalid">
            <span *ngIf="userForm.controls['password']?.errors?.['required']">Senha é obrigatória.</span>
            <span *ngIf="userForm.controls['password']?.errors?.['minlength']">Senha deve ter pelo menos 5 caracteres.</span>
          </div>
        </div>
    
        <!-- Confirma Nova Senha -->
        <div *ngIf="primeiroAcesso" class="mb-3">
          <label for="confirmPassword" class="form-label">Confirma Nova Senha</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            [(ngModel)]="form.confirmNewPassword"
            class="form-control"
            required
            [ngClass]="{'is-invalid': userForm.submitted && userForm.controls['confirmPassword'].invalid}" />
          <span class="invalid-feedback" *ngIf="userForm.submitted && userForm.controls['confirmPassword']?.invalid">
            Confirmação da nova senha é obrigatória.
          </span>
        </div>
    
        <!-- Botão de Ação -->
        <button type="submit" class="btn btn-primary w-100">
          {{ isLoginMode ? 'Login' : 'Cadastrar' }}
        </button>
      </form>
    
      <!-- Texto para alternar entre Cadastro e Login -->
      <p class="text-center mt-3">
        <a href="#" (click)="toggleMode()" class="text-primary text-decoration-none">
          {{ isLoginMode ? 'Sou novo aqui, quero me cadastrar' : 'Sou usuário e quero logar' }}
        </a>
      </p>
    </div>
    
  </div>
  