<div class="container vh-100 d-flex justify-content-end align-items-center">
    <!-- Card que contém o formulário -->
    <div class="card shadow-lg p-4 w-100" style="max-width: 400px;">
      <h3 class="text-center mb-4">{{ isLoginMode ? 'Login' : 'Cadastro Inicial' }}</h3>
      <form (ngSubmit)="onSubmit()">
        <!-- Nome Completo (visível apenas no modo Cadastro) -->
        <div *ngIf="!isLoginMode || primeiroAcesso" class="mb-3">
          <label for="fullName" class="form-label">Nome Completo</label>
          <input
            type="text"
            id="fullName"
            name="fullName"
            [(ngModel)]="form.name"
            class="form-control"
            required
          />
        </div>
  
        <!-- E-mail -->
        <div *ngIf="!primeiroAcesso" class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="form.email"
            class="form-control"
            required
          />
        </div>
  
        <!-- Senha -->
        <div *ngIf="!primeiroAcesso" class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="form.password"
            class="form-control"
            required
            minlength="5"
          />
        </div>

        <!-- Senha -->
        <div *ngIf="primeiroAcesso" class="mb-3">
          <label for="password" class="form-label">Nova Senha</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="form.newPassword"
            class="form-control"
            required
            minlength="5"
          />
        </div>

        <!-- Confirma Senha (visível apenas no modo Cadastro) -->
        <div *ngIf="primeiroAcesso" class="mb-3">
          <label for="confirmPassword" class="form-label">Confirma Nova Senha</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            [(ngModel)]="form.confirmNewPassword"
            class="form-control"
            required
          />
        </div>
  
        <!-- Confirma Senha (visível apenas no modo Cadastro) -->
        <div *ngIf="!isLoginMode" class="mb-3">
          <label for="confirmPassword" class="form-label">Confirma Senha</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            [(ngModel)]="form.confirmPassword"
            class="form-control"
            required
          />
        </div>
  
        <!-- Botão de Ação -->
        <button type="submit" class="btn btn-primary w-100">
          {{ isLoginMode ? 'Login' : 'Cadastrar' }}
        </button>
      </form>
  
      <!-- Texto para alternar entre Cadastro e Login -->
      <p class="text-center mt-3">
        <a href="#" (click)="toggleMode()" class="text-primary text-decoration-none">
          {{ isLoginMode ? 'Sou novo aqui, quero me cadastrar' : 'Sou usuário e quero logar' }}
        </a>
      </p>
    </div>
  </div>
  